.headerContainer {
  height: 80px;
  display: flex;
  justify-content: space-between;
  /* 좌우 분리 핵심 */
  align-items: center;
  padding: 10px 20px;
  background-color: #4CAF50;
}

.headerHome {
  font-weight: bold;
}

.headerCategory {
  display: flex;
  gap: 10px;
  /* 버튼 간격 */
  align-items: center;
  justify-content: flex-end;
  margin-right: 200px;
}

.logo {
  height: 40px;
  object-fit: contain;
  margin-left: 200px;
}

.nickname{
  position: relative;
}